*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow: hidden;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    margin:0 auto;
    padding:0 2%;
}
.correct {
    background-color: lightgreen;
}
.incorrect {
    background-color: lightcoral;
}
input, .tab-content{
    display: none
}
header{
    height:150px;
    padding:10px 0;
}
.logo {
    width: 50%;
}
.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 30px;
}  
.menu label {
    color:#2b98ca;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}
label {
    padding-top:30px;
    width:50%;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label:hover {
    background-color: #faf8f8;
}
.social-media{
    position: absolute;
    right: 510px;
    top: 200px;
}
.social-media img{
    display: block;
    width: 20px;
    margin: 20px 0;
}
section.sobre{
    height: calc(100% - 200px);
    position: relative;
}
.extras{
    position: absolute;
    bottom:-550px;
    right:-500px;
    width:1000px;
    height:1000px;
    border-radius:60%;
    background-color: #2b98ca;
}
.tab-content h2{
    font-size: 40px
}  
.tab-content p{
    font-size: 13px
}
.tab-content {
    margin: 20px 0;
    font-size: 14px;
    font-weight: bold;
    max-width: 800px;
}
#historia-content:checked + .tab-content,
#primeira-content:checked + .tab-content,
#segunda-content:checked + .tab-content,
#atividades-content:checked + .tab-content {
    display: block; /* Mostra a aba correspondente ao input selecionado */}
    
    .question {
        margin: 20px 0;
    }
    .options label {
        display: block;
        padding: 10px;
        margin: 5px auto;
        width: 200px;
        border: 1px solid #ccc;
        cursor: pointer;
        font-size: 16px;
        text-align: center;
    }
    input[type="radio"] {
        display: none;
    }
    input.correct:checked + label {
        background-color: green;
        color: white;
    }
    input.incorrect:checked + label {
        background-color: red;
        color: white;
    }